<div {{bind-attr class="isFluidLayout:container-fluid:container :categories-container"}}>

  {{partial 'categories/sub-nav'}}

  <div class="category-content-container clearfix col-sm-12 col-md-10">
    <div class="category-breadcrumbs col-xs-12">
      <ol class="breadcrumb">
        <li><a>Home</a></li>
        <li><a>Women</a></li>
        <li><a>Tops</a></li>
        <li class="active">Shirts</li>
      </ol>
    </div>

    <div class="category-items clearfix">
      {{!-- <div class="category-item col-xs-6 col-sm-6 col-md-4">
        <img src="http://www.ae.com/Images/web/touts/2015/0114/w_graphictees.jpg" class="img-responsive" />
      </div> --}}
      <div class="category-level category-item col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <img src="/categories/shirts-category-image.jpg" class="img-responsive" />
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6474_100_f?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6474_313_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6472_167_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive hidden-sm hidden-sm hidden-md visible-lg-block" />
        <img src="//pics.ae.com/is/image/aeo/2351_6472_167_of?fit=crop&wid=760&hei=485&qlt=90,0" class="img-responsive visible-xs-block visible-sm-block visible-md-block hidden-lg" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6472_615_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6469_106_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <img src="//pics.ae.com/is/image/aeo/2351_6401_106_of?fit=crop&wid=760&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6401_107_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6357_001_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6357_106_f?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_6357_400_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="//pics.ae.com/is/image/aeo/2351_1078_001_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
      <div class="category-item col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <img src="http://pics.ae.com/is/image/aeo/2351_1078_100_of?fit=crop&wid=380&hei=485&qlt=90,0" class="img-responsive" />
        <div class="category-item-details">
          Product Name
        </div>
      </div>
    </div><!-- category-items -->
  </div><!-- category-content-container -->

</div>{{!-- categories-container --}}
