<div {{bind-attr class="isMedium:nav-right: isLarge:nav-right: :header-auxiliary-nav-links"}}>
  <ul role="tablist" {{bind-attr class="isLarge:nav-pills isMedium:nav-pills isSmall:nav-stacked isXtrSmall:nav-stacked :nav :nav-sm"}}>
    <li>
      <a>Feedback</a>
    </li>
    <li>
      <a>Store Locator</a>
    </li>
    <li>
      <a>Track Order</a>
    </li>
    <li>
      <a>My AEO</a>
    </li>
    <li>
      <a>$USD</a>
    </li>
    <li>
      <a>(4) Items</a>
    </li>
  </ul>
</div>
