<div {{bind-attr class="isDesktopStyles:nav-right: :header-auxiliary-nav-links"}}>
  <ul role="tablist" {{bind-attr class="isDesktopStyles:nav-pills isMobileStyles:nav-stacked :nav :nav-sm"}}>
    <li>
      <a>Feedback</a>
    </li>
    <li>
      <a>Store Locator</a>
    </li>
    <li>
      <a>Track Order</a>
    </li>
    <li>
      <a>My AEO</a>
    </li>
    <li>
      <a class="usd-link container-xs-height hidden-md hidden-lg">
        <span class="col-xs-height col-xs-1">
          <img src="//pics.ae.com/is/image/aeo/US?wid=46" class="img-circle usd-img">
        </span>
        <span class="col-xs-height col-xs-11">$USD</span>
      </a>
      <a class="usd-link hidden-sm hidden-xs">
        <span>
          <img src="//pics.ae.com/is/image/aeo/US?wid=46" class="img-circle usd-img">
        </span>
        <span>$USD</span>
      </a>
    </li>
    <li>
      <a>(4) Items</a>
    </li>
  </ul>
</div>
