<form class="header-search-form pull-right clearfix">
  {{#if isDesktopStyles}}
    {{aeo-input label="Search" class="header-search-input input-sm pull-left"}}
    <button class="header-search-button btn-link pull-left">
      {{glyph-icon set='aeo' type='search'}}
    </button>
  {{/if}}
  {{#if isMobileStyles}}
    <div class="header-search-form-xs-sm">
      {{aeo-input label="Search" class="header-search-input col-xs-10 col-sm-11"}}
      <button class="header-search-button btn-link btn-lg col-xs-2 col-sm-1">
        {{glyph-icon set='aeo' type='search'}}
      </button>
    </div>
  {{/if}}
</form>
