<form class="header-search-form pull-right clearfix">
  {{aeo-input label="Search" class="header-search-input input-sm pull-left"}}
  <button class="header-search-button btn-link pull-left">
    {{glyph-icon set='aeo' type='Search'}}
  </button>
</form>
