<div class="merchandise-details panel panel-default">
  <div class="cart-details-header panel-heading hidden-xs hidden-sm">
    Summary
  </div>
  <div class="cart-details panel-body container-xs-height">
    <div class="cart-merchandise row row-xs-height">
      <div class="summary-label col-xs-height col-middle col-xs-6">Merchandise:</div>
      <div class="summary-value col-xs-height col-middle col-xs-6 text-right">{{currency-display value="$97.92"}}</div>
    </div>
    <div class="cart-estim-shipping row row-xs-height">
      <div class="summary-label col-xs-height col-middle col-xs-6">Estimated Shipping:</div>
      <div class="summary-value col-xs-height col-middle col-xs-6 text-right">{{currency-display value="$7.00"}}</div>
    </div>
    <div class="cart-discounts row row-xs-height">
      <div class="summary-label col-xs-height col-middle col-xs-6">Discounts:</div>
      <div class="summary-value col-xs-height col-middle col-xs-6 text-right">{{currency-display value="$2.96"}}</div>
    </div>
    <div class="cart-subtotal row row-xs-height">
      <div class="summary-label col-xs-height col-middle col-xs-6">Subtotal:</div>
      <div class="summary-value col-xs-height col-middle col-xs-6 text-right text-medium">{{currency-display value="$101.96"}}</div>
    </div>
  </div>
</div>
