<div class="category-subnav hidden-sm visible-md-block visible-lg-block col-md-2">
  <h2><a>Tops</a></h2>
  <ul class="nav nav-pills nav-stacked">
    <li><a id="tees">Tees</a>
      <ul class="hide">
        <li><a>Soft &amp; Sexy Tees</a></li>
        <li><a>Fashion Tees</a></li>
        <li><a>Everyday Tees</a></li>
        <li><a>Don't Ask Why</a></li>
      </ul>
    </li>
    <li><a id="graphic-tees">Graphic Tees</a>
      <ul class="hide">
        <li><a>Short Sleeve Tees</a></li>
        <li><a>Long Sleeve Tees</a></li>
        <li><a>Graphic Tank Tops</a></li>
        <li><a>Don't Ask Why</a></li>
      </ul>
    </li>
    <li><a id="polos">Polos</a></li>
    <li><a id="tank-tops">Tank Tops</a>
      <ul class="hide">
        <li><a>Fashion Tanks</a></li>
        <li><a>Everyday Tanks</a></li>
        <li><a>Don't Ask Why</a></li>
      </ul>
    </li>
    <li class="active"><a id="shirts">Shirts</a>
      <ul class="nav nav-pills nav-stacked show">
        <li><a>Blouses</a></li>
        <li><a>Button Down Shirts</a></li>
        <li><a>Sleeveless Shirts</a></li>
        <li><a>Don't Ask Why</a></li>
      </ul>
    </li>
    <li><a id="sweaters">Sweaters</a>
      <ul class="hide">
        <li><a>Feather Light Sweaters</a></li>
        <li><a>V-Neck</a></li>
        <li><a>Crew Neck</a></li>
        <li><a>Cardigans</a></li>
        <li><a>Don't Ask Why</a></li>
        <li><a>Aerie Sweaters</a></li>
      </ul>
    </li>
    <li><a id="hoodies-sweatshirts">Hoodies + Sweatshirts</a>
      <ul class="hide">
        <li><a>Crew Sweatshirts</a></li>
        <li><a>Zip Up Hoodies</a></li>
        <li><a>Pullover Sweaters</a></li>
        <li><a>Don't Ask Why</a></li>
        <li><a>Aerie Sweatshirts</a></li>
      </ul>
    </li>
    <li><a>Jackets + Outerwear</a></li>
  </ul>
</div>
