/*
 * styles/components/currency-display.styl
 *
 * Style currency display.
 */

.currency-display

  .currency-display-mark
    font-size 75%
    top -0.2em
    position relative

  .currency-display-dollars { }

  .currency-display-cents
    font-size 70%
    top -0.3em
    position relative
    &.currency-display-with-decimals
      font-size 100%
      top 0em
      position relative

  .currency-free
    text-transform uppercase
