.categories-container
  position relative
  .category-item
    box-sizing border-box
    margin 0 !important
    padding 0 10px 20px !important
    .category-item-details
      margin-top 10px
 
  .breadcrumb
    margin ($padding-base-vertical * 5.5) 0 0
    background none
  .category-subnav
    h2
      a
        font-size-to-em(18)
        font-weight normal
        padding 0 0 20px 0
        margin 0 0 20px 0
        border-bottom 1px solid @gray-base
        text-decoration none
        display block
