.checkout-login-container
  background $gray-lightest
  border-top 1px solid $gray-disabled
  border-bottom 1px solid $gray-disabled
  .checkout-login-bar
    p
      margin $padding-large-horizontal 0
      font-weight normal
      color $gray-light
      
.checkout-header
  .aeoicon-eagle
    font-size-to-em(90)
    padding $padding-base-vertical @padding-base-horizontal
    color $brand-primary

.checkout-header-bag-icon
  text-align right
  .bag-count-icon
    .bag-icon-count
      top -35%
      
.checkout-disclaimer
  color $gray-light
  p
    margin 0

.checkout-footer-container
  .checkout-links
    .nav > li > a
      padding 0 $padding-base-horizontal 0 0
      font-size-to-em(16)
  .questions
    text-align right
    a
      text-decoration none
      font-size-to-em(16)
      
.btn
  .paypal-logo
    vertical-align middle
    display inline-block
    max-width 80px
    
.checkout-bag-review-container
  .checkout-bag-review
    padding 0
  .checkout-gift-options
    margin-bottom $padding-base-horizontal
    padding $padding-base-vertical 0
    
.checkout-bag-review
  .items
    max-height 75px
    overflow-x scroll
    margin-bottom $padding-base-horizontal
    .item
      margin 0 0 $padding-base-vertical
      position relative
      border 1px solid $gray-disabled
      &:last-of-type
        margin 0
      .cart-item-details
        p
          margin 0
          font-size-to-em(16)
        .price
          text-align right

.checkout-button
  @media screen and (max-width: $screen-md-max)
    padding 0 $padding-base-horizontal
  &.col-md-7,
  &.col-lg-7
    .checkout-place-order-button
      margin-top $padding-large-horizontal
      
.checkout-cart-details
  position relative
  
  &.affix
    position fixed
    z-index 9999
    right 0
