.checkout-login-container
  background $gray-lightest
  border-top 1px solid $gray-disabled
  border-bottom 1px solid $gray-disabled
  .checkout-login-bar
    p
      margin $padding-large-horizontal 0
      font-weight normal
      color $gray-light

.checkout-header-bag-icon
  text-align right
  .bag-count-icon
    .bag-icon-count
      top -35%
      
.checkout-disclaimer
  color $gray-light
  p
    margin 0

.checkout-footer-container
  .checkout-links
    .nav > li > a
      padding 0 $padding-base-horizontal 0 0
      font-size-to-em(16)
  .questions
    text-align right
    a
      text-decoration none
      font-size-to-em(16)
      
.btn
  .paypal-logo
    vertical-align middle
    display inline-block
    max-width 80px