<div class="checkout-footer-container footer-container">
  <footer {{bind-attr class="isFluidLayout:container-fluid:container :section :clearfix"}}>
    <div class="row">
      <div class="checkout-links col-xs-8">
        <ul class="nav nav-pills">
          <li>
            <a>Privacy Policy</a>
          </li>
          <li>
            <a>Terms of Use</a>
          </li>
          <li>
            <a>Help</a>
          </li>
          <li>
            <a>Return Policy</a>
          </li>
        </ul>
      </div>
      <div class="checkout-links questions col-xs-4">
        <a>Questions? 1.888.232.4535 or Email Us</a>
      </div>
      <div class="copyright row col-xs-12">
        &copy; 2015 AEO Management Co. All Rights Reserved.<br /><br />
        <img src="footer-logos.png" alt="Legal Logos" />
      </div>
    </div>
  </footer>
</div>
