<h2 class="section">What's the damage?</h2>
<div class="checkout-bag-review-container container-md-height hidden-xs hidden-sm">
  <div class="checkout-bag-review col-middle col-md-height col-md-top col-md-9">
   {{partial 'checkout/bag-review'}}
  </div>
  <div class="checkout-gift-options clickable col-md-height col-bottom col-md-3 text-right">
    {{glyph-icon set='aeo' type='gift'}} Gift Options
  </div>
</div>
{{partial 'cart/summary'}}
{{partial 'cart/discount-code'}}
</div>

<div class="checkout-button col-xs-12 col-md-7 col-lg-7">
<button class="checkout-place-order-button btn btn-block btn-default">Place Order</button>
</div>
