<div class="checkout-bag-review">
  <div class="items clearfix">
    <div class="item row container-xs-height col-xs-12">
      <div class="cart-item-img col-xs-height col-xs-4">
        {{product-image image="https://aeo-o.scene7.com/is/image/aeo/0112_3166_841_f" width=400 ratio="20:14" quality="100,0" class="img-responsive clearfix"}}
      </div>
      <div class="cart-item-details col-xs-height col-middle col-xs-8">
        <div class="details row clearfix">
          <p class="size col-xs-4">28 X 30</p>
          <p class="color col-xs-4">Authentic Light</p>
          <p class="quantity col-xs-4">Qty 1</p>
        </div>
        <p class="price text-bold">$39.99</p>
      </div>
    </div>
    <div class="item container-xs-height col-xs-12">
      <div class="cart-item-img col-xs-height col-xs-4">
        {{product-image image="https://aeo-o.scene7.com/is/image/aeo/1165_6722_807_f" width=400 ratio="20:14" quality="100,0" class="img-responsive clearfix"}}
      </div>
      <div class="cart-item-details col-xs-height col-middle col-xs-8">
        <div class="details row clearfix">
          <p class="size col-xs-4">L</p>
          <p class="color col-xs-4">Orange Flare</p>
          <p class="quantity col-xs-4">Qty 1</p>
        </div>
        <p class="price text-bold">$24.95</p>
      </div>
    </div>
    <div class="item col-xs-12 container-xs-height">
      <div class="cart-item-img col-xs-height col-xs-4">
        {{product-image image="https://aeo-o.scene7.com/is/image/aeo/1407_2104_013_f" width=400 ratio="20:14" quality="100,0" class="img-responsive clearfix"}}
      </div>
      <div class="cart-item-details col-xs-height col-middle col-xs-8">
        <div class="details row clearfix">
          <p class="size col-xs-4">One Size</p>
          <p class="color col-xs-4">Silver</p>
          <p class="quantity col-xs-4">Qty 1</p>
        </div>
        <p class="price text-bold">$39.95</p>
      </div>
    </div>
    <div class="item col-xs-12 container-xs-height">
      <div class="cart-item-img col-xs-4 col-xs-height">
        {{product-image image="https://aeo-o.scene7.com/is/image/aeo/0302_1968_609_f" width=400 ratio="20:14" quality="100,0" class="img-responsive clearfix"}}
      </div>
      <div class="cart-item-details col-xs-8 col-xs-height col-middle">
        <div class="details row clearfix">
          <p class="size col-xs-4">M</p>
          <p class="color col-xs-4">Pink Boom</p>
          <p class="quantity col-xs-4">Qty 1</p>
        </div>
        <p class="price text-bold">$9.99</p>
      </div>
    </div>
  </div>
</div>
