<div class="checkout-login-container clearfix">
  <div {{bind-attr class="isFluidLayout:container-fluid:container :clearfix"}}>
    <div class="checkout-login-bar container-xs-height col-xs-12">
      <div class="checkout-login-message col-xs-height col-middle col-xs-9">
        <p>Make things easier on yourself...</p>
      </div>
      <div class="checkout-login-link col-xs-height col-middle col-xs-3 text-right">
        <p><a>Log in</a></p>
      </div>
    </div>
  </div>
</div>
<div {{bind-attr class="isFluidLayout:container-fluid:container :clearfix"}}>
  <div class="checkout-disclaimer text-right col-xs-12">
    <small><em>* all fields required</em></small>
  </div>
</div>
