<div class="websclusive-styles">
  <div class="hero-image">
    <img src="/homepage/large-wide-shot.jpg" 
        class="hidden-xs visible-sm-block visible-md-block visible-lg-block img-responsive" />
    <img src="/homepage/small-tight-shot.jpg" 
        class="hidden-sm visible-xs-block img-responsive" />
  </div>
  <h2>There's More Awesome Style Online</h2>
  <h3>Shop 100's of Web Exclusive Styles &amp; Extended Sizes Only at ae.com</h3>
  <div class="buttons">
    <a class="btn btn-drop btn-sm">Shop Women</a>
    <a class="btn btn-drop btn-sm">Shop Men</a>
  </div>
</div>
